@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

/*-----------------------------------------------
 __footer
-----------------------------------------------*/

.md_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2em 3%;
}

.md_footer__cont {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        li {
            padding: 0 1.5em;
            @include media(768px) {
                flex: 0 1 100%;
                padding: .5em 0;
            }
            &:first-child {
                padding-left: 0;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
.md_copyright {
    @include media(900px) {
        padding-top: 2em;
        flex: 0 1 100%;
    }
}











.md_footer__booking {
    @extend %pt2x;
    @extend %pb2x;
    background: $c4;
    color: #eee;
    text-align: center;
}
.md_footer__bookingTtl {
    padding-bottom: .5em;
}
.md_footer__bookingRes {
    a {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        white-space: nowrap;
        line-height: 1;
        padding : 1em 4em;
        color: #fff;
        background: $c1;
        position: relative;
        transition: all .1s linear;
        span {
            position: relative;
            z-index: 1;
            display: inline-block;
            box-sizing: border-box;
        }
        .arrow {
            position: absolute;
            right: -25px;
        }
        &:hover {
            background: darken($c1,5%);
        }
    }
}
.md_footer__bookingTel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @extend %pt1x;
    @include media(480px) {
        display: block;
    }
    p {
        &:first-child {
            padding-right: 1em;
            @include media(480px) {
                padding-right: 0;
            }
        }
        a {
            text-decoration: none;
            color: #eee;
            font-size: 1.5em;
            font-weight: bold;
            transition: all .1s linear;
            .icon {
                transform: rotate(90deg);
            }
            em {
                padding-left: .3em;
                font-style: normal;
            }
            &:hover {
                color: $c1;
            }
        }
    }
}

.md_footer__logo {
    padding: 0 3%;
    img {
        &.logo {
            width: 140px;
            margin: 0 auto;
            @include media(600px) {
                width: 100px;
            }
        }
        &.hotel {
            width: 80px;
            padding-top: 10px;
            margin: 0 auto;
            @include media(600px) {
                width: 60px;
            }
        }
    }
}
.md_footer__address {
    padding-right: 40px;
    @include media(979px) {
        padding-right: 0;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
    }
    li {
        padding: .25em 0;
        text-indent: -1.5em;
        padding-left: 3em;
        .icon {
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            padding-right: 0em;
            &:before {
                width: 20px;
                display: block;
            }
        }
        span {
            &:nth-of-type(2) {
                padding-left: 1em;
            }
        }
    }
}

.md_footer__aside {
    text-align: right;
    margin-left: auto;
    position: relative;
    @include media(979px) {
        text-align: left;
        padding-right: 0;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 1em;
        padding-bottom: 50px;
    }
    .fbicon {
        font-size: 20px;
        padding-bottom: 10px;
        a {
            color: #eee;
        }
        @include media(979px) {
            position: absolute;
            left: 1em;
            bottom: 0;
        }
    }
    .privacy {
        padding-bottom: 10px;
        a {
            color: #eee;
        }
    }
    .rtravel {}
    .copy {
        padding-bottom: 20px;
    }
    .hanaiori {
        padding-top: 10px;
        a {
            display: inline-block;
            box-sizing: border-box;
        }
        img {
            @include media(480px) {
                width: 120px;
            }
        }
    }
}






.md_slide__nav {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 40px;
    background: #fff;
    @include media(480px) {
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
}
.md_slide__navLogo {
    margin-bottom: 40px;
    a {
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(540px) {
            width: 50%;
        }
    }
}
.md_slide__navColumn {
    li {
        padding: 5px 0;
        a {
            display: inline-block;
            box-sizing: border-box;
            padding: .5em .5em .5em .5em;
            text-decoration: none;
            color: #000;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 0em;
                left: 0;
                width: 100%;
                height: 2px;
                background: transparent;
                transition: all 0.2s linear;
            }
            &:hover {
                &:after {
                    background: #000;
                }
            }
        }
    }
}

.md_slide__navOther {
    padding-top: 20px;
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(540px) {
            width: 40%;
        }
    }
}
.md_slide__navSub {
    padding: .5em 0;
    a {
        color: #eee;
    }
}

.md_slide__navFooter {
    padding: 40px;
    color: #eee;
}
.md_slide__navSns {
    font-size: 20px;
    a {
        color: #eee;
        text-decoration: none;
    }
}






@import "_sidr.scss";
