@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

/*-----------------------------------------------
 __footer
-----------------------------------------------*/

.md_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2em 3%;
}

.md_footer__cont {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        li {
            padding: 0 1.5em;
            @include media(768px) {
                flex: 0 1 100%;
                padding: .5em 0;
            }
            &:first-child {
                padding-left: 0;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
.md_copyright {
    @include media(900px) {
        padding-top: 2em;
        flex: 0 1 100%;
    }
}





