@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

/*-----------------------------------------------
 __header
-----------------------------------------------*/

.md_header {
    position: absolute;
    z-index: 999;
    left: 0;
    background: #fff;
    width: 120px;
    height: 100vh;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -10vw;
        width: 38vw;
        //max-width: 400px;
        transform: skew(15deg,0);
        height: 100%;
        background: #fff;
        z-index: -1;
    }
}

@keyframes glnavi_fix {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.md_head__logo {
    order :2;
    padding-bottom: 3vh;
    padding-left: 2vw;
    img {
        height: auto;
        width: 60px;
        display: block;
    }
}

.md_head__navWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

$tribox_width: 60px;
$tri_width: 36px;
.md_glnavi__triger {
    position: absolute;
    width: $tribox_width;
    height: $tribox_width;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
    z-index: 9999;
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
    }
    span {
        display: block;
        height: 2px;
        border-radius: 4px;
        background: #000;
        position: absolute;
        left: ($tribox_width - $tri_width) / 2;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            margin-top: -10px;
            width: $tri_width;
        }
        &:nth-child(2) {
            width: $tri_width - 6px;
        }
        &:nth-child(3) {
            margin-top: 10px;
            width: $tri_width - 12px;
        }
    }
}

.md_glnav {
    width: 100%;
    padding-left: 2vw;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 5vh;
        li {
            width: 100%;
            padding: .5em 0;
        }
        a {
            color: #000;
            text-decoration: none;
            display: block;
            padding: .5em 0;
            padding-left: 0;
            white-space: nowrap;
            letter-spacing: 0;
            line-height: 1;
        }
    }
}























.md_head__hlogo {
    padding-right: 1em;
    @include media(1100px) {
        display: none;
    }
    img {
        height: 50px;
        display: block;
        .md_header.fixed & {
            height: 40px;
        }
    }
}
.md_head__cta {
    flex: 0 1 150px;
    align-content: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include media(480px) {
        flex: 0 1 120px;
        flex-wrap: nowrap;
    }
    a.cta_btn {
        flex: 0 1 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: $c1;
        text-align: center;
        height: 50%;
        color: #eee;
        text-decoration: none;
        white-space: nowrap;
        @include media(768px) {
            flex: 0 1 50%;
            height: 100%;
            letter-spacing: 0;
            font-size: 12px;
            line-height: 1.2;
            span {
                display: none;
            }
        }
        @include media(480px) {
            font-size: 10px;
        }
        &.lang {
            background: #000;
        }
    }
}

















