@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_header {
    position: absolute;
    z-index: 99;
    top: 0;
    left: -50vw;
    width: 120px;
    @include media(900px) {
        width: 10vw;
    }
    @include media(600px) {
        min-height: 500px;
    }
    &.active {
        animation: md_header .75s ease 1 normal forwards;
    }
    &.animate {
        animation: md_header .75s ease 3s 1 normal forwards;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -35vw;
        width: 60vw;
        transform: skew(15deg,0);
        height: 100%;
        background: #fff;
        z-index: -1;
    }
}

.md_header__common {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    .navWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@keyframes md_header {
    0%{
        left: -42vw;
    } 100% {
        left: 0;
    }
}


@keyframes md_glnavi__triger {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.md_head__logo {
    order :2;
    padding-bottom: 3vh;
    padding-left: 30px;
    @include media(600px) {
        padding-left: 20px;
    }
    a {
        display: block;
        width: 60px;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(600px) {
            width: 40px;
        }
    }
}

.md_head__navWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    @include media(660px) {
        padding-bottom: 20px;
    }
    @include media(480px) {
        padding-bottom: 40px;
    }
}

.md_glnavi__triger {
    $tribox_width: 60px;
    $tri_width: 36px;
    width: $tribox_width;
    height: $tri_width;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
    z-index: 999;
    opacity: 0;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    @include media(600px) {
        margin-bottom: 10px;
    }
    &.animate {
        animation: md_glnavi__triger .75s ease 2.5s 1 normal forwards;
    }
    &.active {
        animation: md_glnavi__triger .75s ease 1 normal forwards;
    }
    &:hover {
        span {
            animation: md_glnavi__line .5s ease normal forwards;
            &:nth-child(1) {
                animation: md_glnavi__line .5s ease normal forwards;
            }
            &:nth-child(2) {
                animation: md_glnavi__line .5s ease .1s normal forwards;
            }
            &:nth-child(3) {
                margin-top: 10px;
                animation: md_glnavi__line .5s ease .2s normal forwards;
            }
        }
    }
    span {
        display: block;
        height: 2px;
        border-radius: 4px;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            margin-top: -10px;
            width: $tri_width;
            @include media(600px) {
                width: 30px;
            }
        }
        &:nth-child(2) {
            width: $tri_width - 6px;
            @include media(600px) {
                width: 24px;
            }
        }
        &:nth-child(3) {
            margin-top: 10px;
            width: $tri_width - 12px;
            @include media(600px) {
                width: 16px;
            }
        }
    }
}

@keyframes md_glnavi__line {
    0%{
        left: -36px;
    }
    100%{
        left: 0;
    }
}


// .md_glnavi__triger {
//     $tribox_width: 60px;
//     $tri_width: 36px;
//     position: absolute;
//     width: $tribox_width;
//     height: $tribox_width;
//     box-sizing: border-box;
//     cursor: pointer;
//     transition: background 0.2s linear;
//     z-index: 999;
//     left: 30px;
//     top: 50vh;
//     transform: translateY(-50%);
//     opacity: 0;
//     @include media(1200px) {
//         @media only screen and (orientation:landscape){
//             top: 0;
//             transform: translateY(0);
//         }
//     }
//     @include media(600px) {
//         left: 10px;
//     }
//     &.animate {
//         animation: md_glnavi__triger .75s ease 2.5s 1 normal forwards;
//     }
//     &.active {
//         animation: md_glnavi__triger .75s ease 1 normal forwards;
//     }
//     &:hover {
//     }
//     span {
//         display: block;
//         height: 2px;
//         border-radius: 4px;
//         background: #000;
//         position: absolute;
//         left: ($tribox_width - $tri_width) / 2;
//         top: 50%;
//         transform: translateY(-50%);
//         &:nth-child(1) {
//             margin-top: -10px;
//             width: $tri_width;
//         }
//         &:nth-child(2) {
//             width: $tri_width - 6px;
//         }
//         &:nth-child(3) {
//             margin-top: 10px;
//             width: $tri_width - 12px;
//         }
//     }
// }

.md_head__logoCommon {
    padding-left: 20px;
    padding-top: 20px;
    @include media(660px) {
        padding-left: 10px;
        padding-top: 4px;
    }
    a {
        display: block;
        width: 50px;
        @include media(660px) {
            width: 36px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}


.md_glnavi__trigerCommon {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
    z-index: 999;
    position: relative;
    margin-right: 20px;
    @include media(660px) {
        margin-right: 0px;
    }
    span {
        display: block;
        height: 2px;
        border-radius: 4px;
        background: #000;
        position: absolute;
        left: 11px;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            margin-top: -10px;
            width: 36px;;
        }
        &:nth-child(2) {
            width: 30px;
        }
        &:nth-child(3) {
            margin-top: 10px;
            width: 24px;
        }
    }
}


.md_glnav {
    width: 100%;
    padding-left: 30px;
    @include media(1280px) {
        font-size: 16px;
    }
    @include media(767px) {
        font-size: 16px;
    }
    @include media(600px) {
        font-size: 12px;
    }
    @include media(600px) {
        padding-left: 20px;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 20px;
        li {
            width: 100%;
            padding: 5px 0;
        }
        a {
            color: #000;
            text-decoration: none;
            display: block;
            padding: 1vh 0;
            padding-left: 0;
            white-space: nowrap;
            letter-spacing: 0;
            line-height: 1;
            &.shop {
                padding-left: 30px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    background-image: url(../images/store-alt-light.svg);
                    background-size: cover;
                    background-position: left center;
                    width: 23px;
                    height: 19px;
                    transform: translateY(-50%);
                }
            }

        }
    }
}

.md_header__info {
    position: absolute;
    bottom: 5%;
    right: -100vw;
    background: rgba(240,240,240,.8);
    z-index: 101;
    animation: md_head__comment .8s ease 1s 1 normal forwards;
    opacity: 0;
    line-height: 1.5;
    @include media(660px) {
        font-size: 13px;
        bottom: 0;
    }
    @include media(540px) {
        font-size: 11px;
    }
    @include media(480px) {
        width: 100%;
    }
    span,a {
        text-decoration: none;
        color: #444;
        display: inline-block;
        box-sizing: border-box;
        padding: .75em 1em .75em 3.25em;
        background-image: url(../images/icon_comment.svg);
        background-size: auto 1.5em;
        background-repeat: no-repeat;
        background-position: 1em center;
        transition: background .1s linear;
    }
    a {
        &:hover {
            background-color: rgba(240,240,240,.5);
        }
    }
}
@keyframes md_head__comment {
    0%{
        right: -100vw;
        opacity: 0;
    } 100% {
        right: 0;
        opacity: 1;
    }
}



@keyframes md_drawer__nav {
    0%{
        max-height: 0;
    } 100% {
        max-height: 100%;
    }
}
.md_drawer__nav {
    position: fixed;
    top: 50vh;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 1000;
    transform: translateY(-50%);
    // box-shadow: 0 0 10vh rgba(0,0,0,.15);
    // border: 1px solid #eee;
    max-height: 0;
    overflow: hidden;
    &.active {
        animation: md_drawer__nav .5s ease 0s 1 normal forwards;
    }
    .innr {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        padding: 10vh 3%;
        @include media(960px) {
            @media only screen and (orientation:landscape){
                padding-top: 15vh;
                padding-bottom: 15vh;
            }
        }
        @include media(960px) {
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-left: 20vw;
        }
    }
}


.md_drawer__navList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &:first-child {
        margin-bottom: 1em;
    }
    @include media(960px) {
        flex-wrap: wrap;
    }
    li {
        padding: 0 .35em;
        white-space: nowrap;
        @include media(960px) {
            flex: 0 1 100%;
            padding: .5em 0;
        }
        &.flex {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            @include media(960px) {
                padding-left: 3px;
            }
        }
        a {
            display: inline-block;
            line-height: 1;
            padding: .5em 1em;
            text-decoration: none;
            color: #000;
            transition: all .1s linear;
            position: relative;
            @include media(960px) {
                padding-left: 8px;
            }
            @include media(767px) {
                font-size: 14px;
            }
            @include media(660px) {
                font-size: 12px;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 1px;
                background: $c1;
                transition: all .1s linear;
            }
            &:hover {
                &:before {
                    width: 100%;
                    left: 0;
                }
            }
            &.snsicon {
                padding-right: 5px;
                padding-left: 5px;
                margin-right: 10px;
                width: 26px;
                font-size: 18px;
                display: inline-block;
                text-align: center;
                &:hover {
                    transform: scale(1.1);
                    &:before {
                        display: none;
                    }
                }
            }
            &.icon {
                position: relative;
                box-sizing: border-box;
                padding-right: 0;
                padding-left: 0;
                height: 40px;
                display: block;
                width: 36px;
                margin-right: 10px;
                &:hover {
                    transform: scale(1.1);
                    &:before {
                        display: none;
                    }
                }
                span {
                    display: none;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../images/envelope-light.svg);
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 36px;
                    height: 40px;
                }
            }
            &.cart {
                padding-left: 32px;
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                &:hover {
                    transform: scale(1.1);
                    &:before {
                        display: none;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    background-image: url(../images/shopping-cart-light.svg);
                    background-size: cover;
                    width: 18px;
                    height: 16px;
                    transform: translateY(-50%);
                }
            }
            &.shop {
                padding-left: 32px;
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                &:hover {
                    transform: scale(1.1);
                    &:before {
                        display: none;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    background-image: url(../images/store-alt-light.svg);
                    background-size: cover;
                    width: 18px;
                    height: 15px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.md_drawer__close {
    width: 50px;
    height: 50px;
    top: 50%;
    right: 20px;
    position: absolute;
    transform: translateY(-50%);
    @include media(960px) {
        top: 15px;
        right: 15px;
        transform: translateY(0%);
    }
    &:after {
        content: "×";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #888;
        background: #dedede;
        border-radius: 50%;
        text-align: center;
        transition: all .3s linear;
        cursor: pointer;
        @include media(900px) {
            width: 40px;
            height: 40px;
            line-height: 38px;
        }
    }
    &:focus {
        &:after {
            outline: none;
        }
    }
    &:hover {
        &:after {
            color: #fff;
            background: $c1;
        }
    }
}


.close_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    &.active {
        display: block;
    }
}








