@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

/*-----------------------------------------------
 __header
-----------------------------------------------*/

.md_header {
    position: absolute;
    z-index: 99;
    left: 0;
    background: #fff;
    width: 120px;
    height: 100vh;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -10vw;
        width: 38vw;
        transform: skew(15deg,0);
        height: 100%;
        background: #fff;
        z-index: -1;
    }
}

@keyframes glnavi_fix {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.md_head__logo {
    order :2;
    padding-bottom: 3vh;
    padding-left: 2vw;
    img {
        height: auto;
        width: 60px;
        display: block;
    }
}

.md_head__navWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

$tribox_width: 60px;
$tri_width: 36px;
.md_glnavi__triger {
    position: absolute;
    width: $tribox_width;
    height: $tribox_width;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
    z-index: 999;
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
    }
    span {
        display: block;
        height: 2px;
        border-radius: 4px;
        background: #000;
        position: absolute;
        left: ($tribox_width - $tri_width) / 2;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            margin-top: -10px;
            width: $tri_width;
        }
        &:nth-child(2) {
            width: $tri_width - 6px;
        }
        &:nth-child(3) {
            margin-top: 10px;
            width: $tri_width - 12px;
        }
    }
}

.md_glnav {
    width: 100%;
    padding-left: 2vw;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 5vh;
        li {
            width: 100%;
            padding: .5em 0;
        }
        a {
            color: #000;
            text-decoration: none;
            display: block;
            padding: .5em 0;
            padding-left: 0;
            white-space: nowrap;
            letter-spacing: 0;
            line-height: 1;
        }
    }
}




.md_drawer__nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 1000;
    transform: translateY(-50%);
    //box-shadow: 0 0 5vh rgba(0,0,0,.2);
    //border: 1px solid #eee;
    height: 0;
    overflow: hidden;
    &.active {
        height: inherit;
    }
    .innr {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        padding: 10vh 3%;
    }
}


.md_drawer__navList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    li {
        padding: 0 1em;
        a {
            font-size: 16px;
            display: block;
            line-height: 1;
            padding: .5em 1em;
            text-decoration: none;
            color: #000;
            &.cart {
                padding-left: 40px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    background-image: url(../images/shopping-cart-light.svg);
                    background-size: cover;
                    width: 22px;
                    height: 20px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.md_drawer__close {
    width: 50px;
    height: 50px;
    top: 50%;
    right: 20px;
    position: absolute;
    transform: translateY(-50%);
    &:after {
        content: "×";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #888;
        background: #dedede;
        border-radius: 50%;
        text-align: center;
        transition: all .3s linear;
        cursor: pointer;
    }
    &:focus {
        &:after {
            outline: none;
        }
    }
    &:hover {
        &:after {
            color: #fff;
            background: $c1;
        }
    }
}











