@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

/*--------
__common
-----------------------------------------------*/



@keyframes mv_in {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@keyframes grayscale {
    0%{
        filter: grayscale(100%);
    }100%{
        filter: grayscale(0%);
    }
}

.md_mv__wrap {
    position: relative;
    overflow: hidden;
}

.md_mv__img {
    background-image: url(../images/mv_01.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 768px;
    opacity: 0;
    transition: background 1s linear;
    filter: grayscale(100%);
    @include media(600px) {
        min-height: 500px;
    }
    &.animate {
        filter: grayscale(100%);
        animation:
            'mv_in' 2s ease .5s 1 normal forwards,
            'grayscale' 1s ease 2s 1 normal forwards;
    }
    &.active {
        filter: grayscale(0%);
        animation:
            'mv_in' 2s ease .5s 1 normal forwards,
    }
}

.md_pg__wrap {
    &.typo {
        background-image: url(../images/bg_typo.svg);
        background-position: 50% 0;
        background-size: 70% auto;
        margin-bottom: 30vh;
    }
    &.typo_static {
        background-image: url(../images/bg_typo.svg);
        background-position: 180% center;
        background-size: 70% auto;
    }
}



.md_listItem__Wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 160px;
    padding-bottom: 100vh;
    @include media(960px) {
        padding-top: 80px;
    }
    @include media(660px) {
        padding-top: 60px;
    }
    &::after {
        content:'';
        display: block;
        width: 28%;
        @include media(1200px) {
            width: 30%;
        }
        @include media(660px) {
            display: none;
        }
    }
}

.md_listItem__nocontents {
    padding: 10vw 0;
    flex: 0 1 100%;
    .ttl {
        text-align: center;
        em {
            display: block;
            color: #ccc;
        }
    }
}


$item_gap : 7%;
$item_gap__mid : 5%;

.md_listItem {
    flex: 0 1 28%;
    margin-top: 0px;
    margin-bottom: -$item_gap * 2;
    position: relative;
    @include media(1200px) {
        flex: 0 1 30%;
        margin-bottom: -$item_gap__mid * 2;
    }
    @include media(660px) {
        flex: 0 1 48%;
        margin-bottom: $item_gap__mid;
    }
    @include media(480px) {
        flex: 0 1 44.5%;
        margin-bottom: 10%;
    }
    &:nth-child(3n + 1) {
        margin-top: $item_gap;
        @include media(1200px) {
            margin-top: $item_gap__mid;
        }
        @include media(660px) {
            margin-top: 0;
        }
    }
    &:nth-child(3n + 2) {
    }
    &:nth-child(3n + 3) {
        margin-top: $item_gap * 3;
        @include media(1200px) {
            margin-top: $item_gap__mid * 3;
        }
        @include media(660px) {
            margin-top: 0;
        }
    }
    &:nth-child(5n) {
        box-shadow: 25px 25px 50px rgba(0,0,0,.2);
        @include media(660px) {
            box-shadow: none;
            flex: 0 1 100%;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        position: relative;
        display: block;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -150%;
            width: 100%;
            height: 100%;
            background: rgba(121,115,115,0.6);
            transform: skew(-32deg,0);
            z-index: 1;
            transition: all .4s ease;
            opacity: 0;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -200%;
            width: 100%;
            height: 65%;
            background: rgba(196,184,184,0.6);
            transform: skew(0,0);
            z-index: 2;
            transition: all .6s ease;
            opacity: 0;
        }
        &:hover {
            &:before {
                left: -50%;
                opacity: 1;
                transform: skew(32.0005deg,0);
            }
            &:after {
                right: -50%;
                opacity: 1;
                transform: skew(-44deg,0);
            }
            .md_listItem__img {
                filter: contrast(110%);
            }
            .md_listItem__ttl {
                bottom: 0;
            }
        }
    }
}

.md_soldout {
    position: absolute;
    background: #ccc;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 1;
    padding: .5em .5em;
}

.md_soldout__price {
    background: #ccc;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 1;
    padding: .5em .5em;
}

.md_listItem__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    transition: all .3s linear;
}
.md_listItem__ttl {
    position: absolute;
    bottom: -4em;
    right: 0;
    padding: .5em 1em;
    z-index: 3;
    transition: all .1s linear;
}


.modal_wrapper {
    width: 100%;

    max-width: 1200px;
    display: none;
}
.fancybox-slide>* {
    background: transparent;
}
.md_item {
    margin: 0 auto;
    padding: 40px;
    background: #eee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include media(660px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.md_item__imgWrap {
    flex: 0 1 54%;
    width: 50%;
    @include media(960px) {
        margin: 0 auto;
    }
    @include media(768px) {
        flex: 0 1 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
    }
}
.md_item__contentsWrap {
    flex: 0 1 40%;
    padding-top: 20px;
    @include media(960px) {
        flex: 0 1 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .l_head {
        @include media(960px) {
            flex: 0 1 40%;
        }
        @include media(768px) {
            flex: 0 1 100%;
        }
    }
    .l_size {
        @include media(960px) {
            flex: 0 1 56%;
        }
        @include media(768px) {
            flex: 0 1 70%;
            margin: 0 auto;
        }
        @include media(660px) {
            flex: 0 1 100%;
        }
    }
    .l_note {
        @include media(960px) {
            flex: 0 1 100%;
            padding-top: 20px;
        }
    }
}

.md_item__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .slide_img__parent {
        flex: 1;
        display: none;
        opacity: 0;
        &.active {
            animation: img_fadein .8s forwards;
            display: block;
            opacity: 1;
        }
    }
    .slide_img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: block;
    }
    .slide_img__main {
        flex: 0 1 80%;
    }
    .slide_img__child {
        flex: 0 1 17%;
    }
    .slide_imgThumb {
        max-width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 20px;
        cursor: pointer;
    }
    @keyframes img_fadein {
        0% {
            display: none;
            opacity: 0;
        }
        1% {
            display: block;
            opacity: 0;
        }
        100% {
            display: block;
            opacity: 1;
        }
    }
}

.md_tax__ttl {
    position: absolute;
    left: 8vw;
    top: 3%;
    @include media(960px) {
        left: 100px;
        top: 30px;
    }
    @include media(660px) {
        left: 80px;
        top: 18px;
    }
}


.md_item__ttl {
    line-height: 1.5;
    margin-bottom: .5em;
}
.md_item__enttl {
    display: block;
    font-style: normal;
    font-weight: bold;
}
.md_item__price {
    .price {}
    .tax {
        font-size: .8em;
        padding-left: .5em;
    }
}
.md_item__storeLink {
    padding: 1em 0;
    vertical-align: top;
    a {
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        color: #000;
        line-height: 1.2;
        padding: .5em 1em .5em 0;
        position: relative;
        span {
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            margin-top: -1px;
            padding-left: 34px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 8px;
                background-image: url(../images/shopping-cart-light.svg);
                background-size: cover;
                width: 18px;
                height: 16px;
                transform: translateY(-50%);
            }
        }
        .icon {
            padding-left: .5em;
            &:before {
            }
        }
    }
}


.md_item__sizeWrap {
    border: 1px solid #000;
    padding: 20px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    &.other {
        padding-bottom: 10px;
    }
}
.md_item__sizeUnit {
    text-align: right;
    span {
        cursor: pointer;
        transition: all .1s linear;
        display: inline-block;
        box-sizing: border-box;
        &.active {
            color: $c1;
        }
        &:hover {
            color: $c1;
        }
    }
}
.md_item__sizeChartWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    @include media(480px) {
        flex-wrap: wrap;
    }
}
.md_item__sizeImg {
    flex: 0 1 50%;
    @include media(480px) {
        flex: 0 1 100%;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(480px) {
            width: 80%;
            max-width: 240px;
            margin: 0 auto;
            padding-bottom: 10px;
        }
    }
}
.md_item__sizeChart {
    flex: 0 1 45%;
    @include media(480px) {
        flex: 0 1 100%;
        margin: 0 auto;
    }
    .sizeChart {
        li {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: .2em 0;
            border-bottom: 1px solid #000;
            &.belt {
                justify-content: space-between;
                span:nth-child(2) {
                    width: auto;
                }
            }
            span {
                padding: .25em .5em;
                white-space: nowrap;
                &.unit {
                    display: none;
                }
                &.cm {
                    display: block;
                }
                &:nth-child(2) {
                    width: 3em;
                }
                &:nth-child(4) {
                    margin-left: auto;
                }
                &:last-child {
                    margin-left: auto;
                }
            }
        }
        &.other {
            li {
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
}
.md_item__notice {
    margin-top: 10px;
    p {
        margin-bottom: .75em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    strong {
        color: #c1362b;
    }
}


.fancybox-close-small {
    width: 50px;
    height: 50px;
    top: 40px;
    right: 40px;
    @include media(700px) {
        top: 0;
    }
    &:after {
        content: "×";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #888;
        background: #dedede;
    }
    &:focus {
        &:after {
            outline: none;
        }
    }
    &:hover {
        &:after {
            color: #fff;
            background: $c1;
        }
    }
}


/*--------
__shop
-----------------------------------------------*/
.pg_shop__announce {
    margin-top: 80px;
    border: 4px solid #ddd;
    padding: 30px 30px;
    @include media(660px) {
        margin-top: 40px;
    }
    .ttl {
        margin-bottom: .75em;
        color: #CC6633;
        i {
            font-size: 1.2em;
            padding-right: .5em;
        }
    }
    .cont {
        p {
            margin-bottom: .75em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.pg_shop {
    min-height: 100vh;
    padding: 40px 10% 80px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:: center;
    @include media(960px) {
        padding-right: 5%;
        padding-left: 5%;
    }
}

.pg_shop__info {
    margin-top: 80px;
    padding-left: 3em;
    border-left: 3px solid #000;
    @include media(540px) {
        padding-left: 1.5em;
    }
    .ttl {
        margin-bottom: 1em;
        font-size: 18px;
        @include media(767px) {
            font-size: 16px;
        }
    }
    a.googlemap {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        white-space: nowrap;
        line-height: 1;
        padding : .5em .75em;
        color: $google_color;
        transition: all .1s linear;
        &:hover {
            transform: scale(1.3);
        }
    }
}
.pg_shop__img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    a {
        display: block;
        flex: 0 1 24%;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.pg_shop__mapFlame {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .innr {
        height: 0;
        padding-top: 50%;
        max-height: 360px;
        @include media(660px) {
            padding-top: 100%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}


/*--------
__concept
-----------------------------------------------*/
.pg_concept {
    min-height: 100vh;
    padding: 120px 5% 80px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:: center;

    .innr {
    }
}
.pg_concept__read {
    letter-spacing: .175em;
    line-height: 2;
    @include media(540px) {
        line-height: 1.75;
        p {
            margin-bottom: .75em;
        }
    }
    .normal {
        @include media(540px) {
            display: none;
        }
    }
}
.pg_concept__sewing {
    margin-top: 80px;
    padding-left: 3em;
    border-left: 3px solid #000;
    @include media(540px) {
        padding-left: 1.5em;
    }
    .ttl {
        margin-bottom: 1em;
        font-size: 18px;
        @include media(767px) {
            font-size: 16px;
        }
    }
    p {
        text-align: justify;
        @include media(540px) {
            margin-bottom: .75em;
            font-size: 13px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    br {
        @include media(767px) {
            display: none;
        }
    }
}



/*--------
__error
-----------------------------------------------*/

.md_pageHeader {
    &.page__error {
        padding: 200px 5%;
        text-align: center;
        @include media(600px) {
            padding: 120px 5% 60px 5%;
            text-align: left;
        }
    }
}
.md_pageHeader__Title {
    font-size: 24px;
    margin-bottom: .5em;
    @include media(600px) {
        font-size: 18px;
        text-align: center;
    }
}
.md_pageHeader__description {
    font-size: 14px;
    @include media(768px) {
        br {
            display: none;
        }
    }
    @include media(600px) {
        font-size: 12px;
    }
}

.event__img_dummy {
    display: block;
    margin: 0 auto;
}
